body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: red;
  padding: 20px;
  color: white;
  text-align: center;
}

img {
  width: 50px;
}

article.journal-entry {
  display: flex;
}
.main-image {
  width: 100%;
  height: 100%;

}
.main-image-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
    padding: 5px;
}
.markeur {
  width: 20px;
  height: 20px;
}